In [1]:
import pandas as pd
import functions as f

In [2]:
df = f.load_data()
df.head(2)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips,skill_abr
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0,MRKT
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0,SALE

In [3]:
df.work_type.value_counts()

work_type
FULL_TIME     166723
CONTRACT       18309
PART_TIME      15357
TEMPORARY       2007
INTERNSHIP      1761
VOLUNTEER        848
OTHER            773
Name: count, dtype: int64

In [4]:
df.currency.value_counts()

currency
USD    60537
EUR        9
CAD        4
GBP        4
BBD        3
AUD        2
Name: count, dtype: int64

In [5]:
def drop_columns(df):
    return df.drop(columns=["sponsored","views","posting_domain","pay_period","sponsored","zip_code","fips", "application_url",
                                                "compensation_type", "job_posting_url", "application_type", "expiry", "closed_time","formatted_work_type",
                                                "applies","remote_allowed", "closed_time", "posting_domain", "med_salary", "formatted_experience_level", "original_listed_time"])

In [ ]:
drop_columns(df)

In [ ]:
job_skills_df = f.load_data("C:\\Users\\lenovo\\Downloads\\archive\\jobs\\job_skills.csv")
job_skills_df.head(2)

In [ ]:
job_skills_df.skill_abr.value_counts()

In [ ]:
result = pd.merge(job_posting_df, job_skills_df)

result.head(3)

In [ ]:
result_filtered = result[result['skill_abr'] == 'IT']
result_filtered

In [ ]:
# job ID
`job_title`
- `location`
- `company`
- `posted_date`
- `salary_range`
- `skills`
- `description`